node_modules
 name: Draconian-Bank
     on [push]
      apiVersion v1
       kind PersistentVolume
        metadata
         name:my-pv
        spec:
            capacity
            storage 2GB<Size>
        volumeMode:Filesystem
           -accessModes
           -ReadWriteOnce
           -persistentVolumeReclaimPolicy:Recycle
           -storageClassName:Dragon apiVersion; -v1
           kind: ConfigMap
           metadata:
             name; Draconian Bank
           data;
             key; <https://polygon-mainnet.g.alchemy.com/v2/o93me4joIgLBJZ_b7E1ROZJYj4x7_hha>
           
            mountOptions
           -hard
           -nfsvers=4.1
          nfs
          path:/tmp
          server:172.17.0.2

        jobs: true
  build: true
    name: Build
    runs-on: apiVersion:v1
    kind: ReplicationController
    metadata
      name: Draconian Bank
    spec
      replicas: <Replicas>
      selector
        app: Draconian Bank
      template
        metadata
          name:Draconian Bank
          labels
            app:Draconian Bank
        spec
        containers
            -name:Draconian Bank
              image:<Image>
              ports
              containerPort:<Port>
    
             steps
            -uses:actions/checkout@v2
            -name:Build
             uses:docker/build-push-action@v1
             with:https://polygon-mainnet.g.alchemy.com/v2/o93me4joIgLBJZ_b7E1ROZJYj4x7_hha
             push:true
        